{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block body_class %}template-formpage-success{% endblock %}

{% block content %}

<section class="form-success">

    <header class="form-success-header">

        <h1 class="form-success-title">
            {{ page.title }}
        </h1>

    </header>

    <div class="form-success-message">

        {{ page.thank_you_text|richtext }}

    </div>

    <nav class="form-success-navigation">

        <a class="form-success-home" href="/">
            Return to homepage
        </a>

    </nav>

</section>

{% endblock content %}
